.linkDiv {
  position: relative;
  display: flex;
  gap: 12px;
}

.linkDiv > input,
.linkDiv > label {
  flex-grow: 1;
  width: 100%;
}

.linkDiv > button {
  position: absolute;
  right: -36px;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.linkDiv .deleteIcon {
  font-size: 1.4rem;
  opacity: 0.8;
}

.linkDiv > button:hover > .deleteIcon {
  opacity: 0.9;
}

.linkDiv > button:active > .deleteIcon {
  opacity: 1;
}

.addLink {
  align-self: center;
  padding: 0 12px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  font-size: 0.9rem;

  .linkIcon {
    font-size: 1.4rem;
  }
}

.addLink:hover {
  opacity: 0.9;
}

.addLink:active {
  opacity: 1;
}
