.sectionForm {
  .heading,
  .item {
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
    }
  }

  .contentAddBtns {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}
