.workDiv {
  display: flex;
  flex-direction: column;
}

.dateGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .dateRow {
    display: flex;
    gap: 12px;

    .inputLabel {
      flex-grow: 1;
    }
  }

  .checkbox {
    margin-top: 6px;
  }
}
