.workDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dateGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .dateRow {
    display: flex;
    gap: 12px;

    .inputLabel {
      min-width: 0;
      flex-grow: 1;
    }
  }

  .checkbox {
    margin-top: 6px;
  }
}

.detailsGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    margin-bottom: -6px;
  }

  .detailsRow {
    position: relative;
    display: flex;

    input {
      width: 100%;
    }
  }
}

.workItem {
  position: relative;
  display: flex;
  align-items: center;

  .itemSelectBtn {
    flex-grow: 1;
  }

  .deleteListItemBtn {
    position: absolute;
  }
}
